# ======================================================================================================== #
# ======================================== VOC SCRUBBING CONTROL ========================================= #
# ======================================================================================================== #

[gcode_macro _SCRUBBER]
description: Run airfilter filter for VOC scrubbing with auto-shutoff
gcode:
    {% set macrocfg = printer['gcode_macro _macroVariables'] %}
    {% set AIRFILTER_NAME = macrocfg.airfilter_name %}
    {% set SCRUB_SPEED = macrocfg.scrub_speed %}
    {% set SCRUB_TIME = macrocfg.scrub_time %}

    RESPOND MSG="Scrubbing VOCs"
    
    # Activate airfilter filter at configured speed
    SET_FAN_SPEED FAN={AIRFILTER_NAME} SPEED={SCRUB_SPEED}
    
    # Set automatic shutoff timer
    UPDATE_DELAYED_GCODE ID=_SCRUBBER_TIMER DURATION={SCRUB_TIME}


[delayed_gcode _SCRUBBER_TIMER]
gcode:
    {% set macrocfg = printer['gcode_macro _macroVariables'] %}
    {% set AIRFILTER_NAME = macrocfg.airfilter_name %}
    {% set END_PRINT = macrocfg.end_print %}
    
    # Turn off airfilter filter
    SET_FAN_SPEED FAN={AIRFILTER_NAME} SPEED=0
    
    # LED status indication
    _SET_LED_STATUS STATUS=STANDBY

    M400
    RESPOND MSG="✅ Scrubbing VOCs complete"


# ======================================================================================================== #
# ====================================== FILTER MAINTENANCE CONTROL ====================================== #
# ======================================================================================================== #

[gcode_macro RESET_AIR_FILTER]
description: Reset air filter replacement timer to zero
gcode:
    SET_GCODE_VARIABLE MACRO=_macroVariables VARIABLE=filter_time VALUE=0
    SAVE_VARIABLE VARIABLE=filter_time VALUE=0
    
    RESPOND MSG="Air filter timer reset"


[gcode_macro QUERY_AIR_FILTER]
description: Display current air filter runtime since last reset
gcode:
    {% set macrocfg = printer['gcode_macro _macroVariables'] %}
    {% set FILTER_TIME = macrocfg.filter_time %}
    {% set HOURS = "%.2f"|format(FILTER_TIME|int / 3600) %}
    
    RESPOND MSG="Air filter runtime: {HOURS} hours"


[delayed_gcode _AIR_FILTER_TIMER]
initial_duration: 1
gcode:
    {% set macrocfg = printer['gcode_macro _macroVariables'] %}
    {% set CACHED_TIME = macrocfg.filter_time|int %}
    {% set TIMER_INCREMENT = macrocfg.filter_timer_increment %}
    {% set AIRFILTER_TYPE = macrocfg.airfilter_type %}
    {% set AIRFILTER_NAME = macrocfg.airfilter_name %}
    {% set HOURS_UNTIL_REPLACEMENT = macrocfg.hours_until_replacement %}
    
    # Initialize timer from saved variables if needed
    {% if CACHED_TIME == -1 %}
        {% set CACHED_TIME = printer.save_variables.variables.air_filter_time|default(0) %}
        SET_GCODE_VARIABLE MACRO=_macroVariables VARIABLE=filter_time VALUE={CACHED_TIME}
    {% endif %}
    
    # Increment timer if filter is running
    {% if printer[AIRFILTER_TYPE + " " + AIRFILTER_NAME].speed|float > 0 %}
        SET_GCODE_VARIABLE MACRO=_macroVariables VARIABLE=filter_time VALUE={CACHED_TIME + TIMER_INCREMENT}
    {% endif %}
    
    # Check for filter replacement notification
    {% set REPLACEMENT_SECONDS = HOURS_UNTIL_REPLACEMENT|float * 3600 %}
    {% if CACHED_TIME > REPLACEMENT_SECONDS %}
        RESPOND MSG="🔄 Replace filter media"                   # Filter replacement notification
    {% endif %}
    
    # Schedule next timer check
    UPDATE_DELAYED_GCODE ID=_AIR_FILTER_TIMER DURATION={TIMER_INCREMENT}


[delayed_gcode _AIR_FILTER_FLUSH_TIMER]
initial_duration: 300
gcode:
    {% set macrocfg = printer['gcode_macro _macroVariables'] %}
    {% set FLUSH_INTERVAL = macrocfg.filter_flush_interval %}
    {% set SAVED_TIME = printer.save_variables.variables.air_filter_time|default(0)|float %}
    {% set ACTUAL_TIME = macrocfg.filter_time|float %}
    
    # Save current runtime if different from stored value
    {% if SAVED_TIME != ACTUAL_TIME %}
        SAVE_VARIABLE VARIABLE=air_filter_time VALUE={ACTUAL_TIME}
    {% endif %}
    
    # Schedule next flush operation
    UPDATE_DELAYED_GCODE ID=_AIR_FILTER_FLUSH_TIMER DURATION={FLUSH_INTERVAL}
    

# ======================================================================================================== #
# ========================================= BED FAN CONTROL MACROS ======================================= #
# ======================================================================================================== #

[gcode_macro _BEDFANSSLOW]
description: Set bed fans to slow speed
gcode:
    {% set macrocfg = printer['gcode_macro _macroVariables'] %}
    {% set SLOW = macrocfg.bed_slow|float %}
    SET_FAN_SPEED FAN=bed_fan SPEED={SLOW}


[gcode_macro _BEDFANSFAST]
description: Set bed fans to fast speed
gcode:
    {% set macrocfg = printer['gcode_macro _macroVariables'] %}
    {% set FAST = macrocfg.bed_fast|float %}
    SET_FAN_SPEED FAN=bed_fan SPEED={FAST}


[gcode_macro _BEDFANSOFF]
description: Turn off bed fans
gcode:
    SET_FAN_SPEED FAN=bed_fan SPEED=0

